[user]
	name = Samuel Durante
	email = samueldurante.h@gmail.com
	signinkey = 0A460EFF6A794882
[init]
	defaultBranch = main
[alias]
	coma = checkout main
  cob = checkout -b
  poma = pull origin main
  pu = push origin HEAD
  puf = push origin HEAD --force
  co = checkout
  lg = log --all --graph --decorate --oneline --abbrev-commit
  cm = commit
  ac = !git add -A && git commit
  st = status
  tags = tag -l
	bd = branch -D
  branches = branch -a
  remotes = remote -v
