[user]
	name = Samuel Durante
	email = samueldurante.h@gmail.com
	signinkey = 0A460EFF6A794882
[init]
	defaultBranch = main
[alias]
  poma = pull origin main
  co = checkout
  lg = log --all --graph --decorate --oneline --abbrev-commit
  cm = commit
  ac = !git add -A && git commit
  st = status
  tags = tag -l
  branches = branch -a
  remotes = remote -v
